<!DOCTYPE html>
{% extends "base3.html" %}
{% load static %}


        {% block stylesheet %}
            <link rel="stylesheet" href= "{% static "css/ap_detail.css" %}">
        {% endblock%}

{% block body_block %}
<div class="container1">
{%  for j in i %}
<div class="container">
    <br>

       Project Name: {{ j.project_name }}<br>
       Technology: {{ j.technology }}<br>
       Domain: {{ j.Domain }}<br>
        Requirements: {{ j.requirements }}<br><br>
    <div><a href="{% url 'calendar' %}"><button class="btn-primary">Track your progress</button></a></div><br><br>
</div>

{% endfor %}




</div>
{% endblock%}
