{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



  <link rel="stylesheet" type="text/css" href="{% static 'css/cal/css/styles.css' %}">
  <title>Django Calendar App</title>
    {% block style %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Track It</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_superuser %}
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'r_com' %}"><i class="fas fa-home"></i>&nbspHome</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'comlist' %}"><i class="fas fa-envelope"></i>&nbspChat</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'a_comlist' %}"><i class="fas fa-list"></i>&nbspproject list</a>
                </li>

            {% else %}
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'project_l' %}"><i class="fas fa-home"></i>&nbspproject request</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'accp_list' %}"><i class="fas fa-list"></i>&nbspProject List</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_e' %}"><i class="fas fa-list"></i>&nbspNew Updates</a>
                </li>

                <li class="nav-item">
                        <a class="nav-link" href="{% url 'u_chat' %}"><i class="fas fa-list"></i>&nbspChat</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'u_event' %}"><i class="fas fa-list"></i>&nbspUpdate List</a>
                </li>


            {% endif %}
        </ul>

          <ul class="nav navbar-nav navbar-right">
               {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>&nbspLogout</a>
                    </li>

               {% endif %}
          </ul>
      </div>
    </nav>


  <h1 class="title">{% block title %}{% endblock %}</h1>
  <hr>

  {% block content %}

  {% endblock %}
<hr>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  {% block script %}
  {% endblock %}
</body>
</html>